<template>
  <v-container class="mt-4">
    <v-row justify="center">
      <v-col cols="12" md="10" lg="8" xl="6" class="pa-0">
	      <v-card class="shadowCard">

          <v-card-title >
            <h2>{{ materialItem.nombre }}</h2>
          </v-card-title>

          <v-card-text>
            <!-- Verificar que haya material -->
            <div v-if="materialItem.url != null" >

              <!-- Si es video -->
              <video id="video" 
                :src="`${url2}${materialItem.url}`" 
                frameborder="0" 
                allowfullscreen
                controls
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                style="width: 100%; height: 100%; background: #FFFFFF;" allowtransparency="true"
                v-if="materialItem.idtipo_material == 1">
              </video>

              <!-- Si es un audio -->
              <v-card v-if="materialItem.idtipo_material == 2">
                <v-progress-linear
                  class="mt-2"
                  height="5"
                  v-model="trackProgress"
                  @click="updateSeek($event)"
                ></v-progress-linear>
                <div class="d-flex flex-no-wrap justify-space-between">
                  <div>
                    <v-card-title
                      ><h3>
                        {{ materialItem.url.replace(".mp3", "") }}
                      </h3>
                    </v-card-title>
                    <v-container>
                      <h5 dense>
                        {{ getTrackInfo.seek | minutes }}/{{
                          getTrackInfo.duration | minutes
                        }}
                      </h5>

                      <v-card-actions>
                        <v-btn
                          v-if="play == false"
                          outlined
                          fab
                          small
                          color="light-blue"
                          @click="playTrack()"
                        >
                          <v-icon large>mdi-play</v-icon>
                        </v-btn>
                        <v-btn
                          v-else
                          outlined
                          fab
                          small
                          color="light-blue"
                          @click="pauseTrack()"
                        >
                          <v-icon large>mdi-pause</v-icon>
                        </v-btn>
                      </v-card-actions>
                    </v-container>
                  </div>

                  <v-avatar class="ma-3" size="125" tile>
                    <v-icon large>mdi-headphones</v-icon>
                  </v-avatar>
                </div>
              </v-card>

              <!-- Si es una iamgen -->
              <v-img
                v-if="materialItem.idtipo_material == 3"
                contain
                :src="url2 + materialItem.url"
                class="white--text align-end"
                height="600"
                width="100%"
              >
              </v-img>

              <!-- Si es un documento de pdf -->
              <embed
                type="application/pdf"
                v-if="materialItem.idtipo_material == 4"
                :src="url2 + materialItem.url + '#toolbar=0'"
                height="600"
                width="100%"
              />
            </div>

            <!-- Mostrar portada en caso de no haber material -->
            <v-card  v-else flat width="100%" style="border-radius: 0px;">
              <v-img
                contain
                :src="url + getCurso.imagen"
                class="white--text align-end"
                max-width="100%"
                aspect-ratio="1.4"
              >
                <v-card-title class="primary pa-2 pl-6" dense>{{ getCurso.curso }}</v-card-title>
              </v-img>
            </v-card>

            <!-- Si no hay material, poner la descripción del curso -->
            <v-card class="elevation-0">
              <v-card-title >
                <h2>{{ materialItem.curso }}</h2>
              </v-card-title>
              <v-card-text>
                {{ materialItem.descripcion }} 
                <v-row>
                  <v-col>
                    <v-card-text><strong>Duración:</strong></v-card-text>
                    <v-card-text class="my-n8 mx-auto">
                      <v-icon>
                        mdi-clock-time-two-outline
                      </v-icon>
                      <span class=" font-weight-light">{{ materialItem.duracion + " horas" }}</span>
                    </v-card-text>
                  </v-col>
                  <v-col cols="20" sm="12" md="4">
                    <v-card-text > <strong>Capacitador: </strong></v-card-text>
                    <v-card-text class="mt-n8 mx-auto">
                      <v-avatar class="mr-2" size="30px">
                        <img
	                        :src='`https://ui-avatars.com/api/?background=1976d2&color=fff&rounded=true&format=svg&name=${materialItem.capacitador}`'
	                        alt="John"
	                      />
                      </v-avatar>
                      <span class=" font-weight-light">
                      	{{ materialItem.capacitador }}
                      </span>
                    </v-card-text>
                  </v-col>
                </v-row>
             </v-card-text>
            </v-card>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>

    <!-- Dialog de carga -->
    <Alerta               v-if="respuestaAlerta"             :parametros="parametros"/>
    <carga                v-if="cargar"/>

  </v-container>
</template>

<script>
  import * as easings from 'vuetify/lib/services/goto/easing-patterns'
  import AudioPlayer from "@/views/player/AudioPlayer.vue";

  // Componentes
  import Alerta                from '@/components/alertas/Alerta.vue'
  import carga                 from '@/components/alertas/carga.vue';

  const  base64 = require('base-64');

	import { mapActions, mapGetters } from "vuex";

export default {
  components:{
    Alerta,
    carga,
    AudioPlayer
  },

  data: () => ({
    // Alertas
    parametros:{
      dialogError: false,
      mensaje: '',
      color: ''
    },

    respuestaAlerta:false,
    loader: true,
    cargar: false,

    url: "",
    url2: "",
    url3: "",
    url4:'',
    ///usuarios
    usuarios: [],
    tema: null,
    temas: [],
    materialItem: {},
    
    //**---audio---**//
    play: false,
    playing: false,
    seek: 0,
    progress: 0,
    duration: 0,

  }),

  computed: {

    height () {
      switch (this.$vuetify.breakpoint.name) {
        case 'xs': return 270
        case 'sm': return 270
        case 'md': return 600
        case 'lg': return 600
        case 'xl': return 600
      }
    },

    hVideo () {
      switch (this.$vuetify.breakpoint.name) {
        case 'xs': return 0
        case 'sm': return 0
        case 'md': return 600
        case 'lg': return 600
        case 'xl': return 600
      }
    },

    ...mapGetters("Cursos", ["getCurso"]),
    ...mapGetters("Materiales", ["getMaterial"]),

    //**---audio---**//
    trackProgress() {
      this.progress = this.seek / this.audio.duration();
      return this.progress * 100;
    },

    getTrackInfo() {
      let seek = this.seek,
        duration = this.audio.duration();
      return {
        seek,
        duration,
      };
    },
  },

  watch: {

    getCurso() {
      this.initialize();
    },

    materialItem( value ) {
      // Audio
      if( value.idtipo_material == 2 ){
        //**---audio---**//
        const rutaAudio = this.url4 + this.getMaterial.url
        this.audio = new Howl({
          src: [rutaAudio],
          onend: () => {
            this.stopTrack();
            this.play = false;
          },
        });
      }
    },

    //**---audio---**//
    playing(playing) {
      this.seek = this.audio.seek();
      let updateSeek;
      if (playing) {
        updateSeek = setInterval(() => {
          this.seek = this.audio.seek();
        }, 250);
      } else {
        clearInterval(updateSeek);
      }
    },

    audio() {},
  },

  created() {
    this.initialize();

    this.url  = "https://academicokpi.club/" + "capacitacion-imagenes/";
    this.url2 = "https://academicokpi.club/" + "capacitacion-videos/";
    this.url3 = "https://academicokpi.club/" + "capacitacion-archivos/";
    this.url4 = "https://academicokpi.club/" + "capacitacion-audios/";

  },

  methods: {
    initialize() {
    	if( this.$route.params.id ){
    		const idMaterial = base64.decode( this.$route.params.id )

	      this.cargar       = true
	      this.play = false;
	      this.$http.get("materiales.id/" + idMaterial ).then((responsetemas) => {
	        this.materialItem  = responsetemas.body;
	        this.cargar = false
	      }).catch( error =>{
	        this.validarError( error )
	      }).finally( () => { this.cargar = false })
    	}
    },

    ...mapActions("Materiales", ["guardarMaterial"]),
    ...mapActions("Evaluaciones", ["guardarIdEvaluacion", "guardarEvaluacion"]),

    scroll(){
      window.scrollTo(0,400)
    },

    goBack() {
      this.play = false;
      this.stopTrack();
      window.history.back();
    },

    //**---audio---**//
    playTrack() {
      this.audio.play();
      this.play = true;
      this.playing = true;
    },

    pauseTrack() {
      this.play = false;
      this.audio.pause();
      this.playing = false;
    },

    stopTrack() {
      this.audio.stop();
      this.playing = false;
    },

    //linear progress bar
    updateSeek(event) {
      if (this.audio.playing()) {
        this.audio.seek((this.audio.duration() / 100) * percents);
      }

      let el = document.querySelector(".progress-linear__bar"),
	      mousePos = event.offsetX,
	      elWidth = el.clientWidth,
	      percents = (mousePos / elWidth) * 100;
    },

    validarSuccess( mensaje ){
      this.cargar = false
      this.parametros.mensaje      = mensaje
      this.parametros.dialogError  = true 
      this.parametros.color        = 'success'
      this.respuestaAlerta         = true 
    },

    validarError ( value ) {
      this.cargar = false 
      if( value.status == 400 || value.status == 500){
        this.parametros.mensaje      = value.body.message
        this.parametros.dialogError  = true 
        this.parametros.color        = '#FF2C2C'
        this.respuestaAlerta = true 
      }
    },

    validarErrorDirecto ( mensaje ) {
      this.cargar = false 
      this.parametros.mensaje      = mensaje
      this.parametros.dialogError  = true 
      this.parametros.color        = '#FF2C2C'
      this.respuestaAlerta = true 
    },
  },
};
</script>
<style scoped>

  #eventos::-webkit-scrollbar {
    -webkit-appearance: none !important;
  }

  #eventos::-webkit-scrollbar:vertical {
    width: 6px !important;
  }

  #eventos::-webkit-scrollbar:vertical{
    width: 6px !important;
  }

  #eventos::-webkit-scrollbar-button:increment,.v-data-table__wrapper::-webkit-scrollbar-button{
    display: none;
  }

  #eventos::-webkit-scrollbar:horizontal{
    height: 6px !important;
  }

  #eventos::-webkit-scrollbar-thumb{
    background-color: #BABCBF;
    border-radius: 20px;
    border: 1px solid #ededed;
  }

</style>
